---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: cloud-config
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloud-config
  template:
    metadata:
      labels:
        app: cloud-config
    spec:
      containers:
      - name: cloud-config
        image: selimhorri/cloud-config-ecommerce-boot:0.1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9296
          name: http
        env:
        - name: SPRING_PROFILES_ACTIVE
          valueFrom:
            configMapKeyRef:
              name: microservices-config
              key: SPRING_PROFILES_ACTIVE
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          valueFrom:
            configMapKeyRef:
              name: microservices-config
              key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        - name: EUREKA_INSTANCE_HOSTNAME
          value: "cloud-config"
        - name: EUREKA_INSTANCE_NON_SECURE_PORT
          value: "9296"
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 9296
          initialDelaySeconds: 40
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 9296
          initialDelaySeconds: 80
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: cloud-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: cloud-config
spec:
  type: ClusterIP
  ports:
  - port: 9296
    targetPort: 9296
    protocol: TCP
    name: http
  selector:
    app: cloud-config
